#name {
    text-align: left;
    margin-bottom: 2px;
  }
  
  #name-input {
    width: 100%;
    margin: 0;
  }
  
  #memo {
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: left;
  }
  
  #memo-input {
    width: 100%;
    margin: 0;
  }
  