/*** Common CSS ***/
.App {
  --default-background: #518c84;
  --margin-navi: 3.5rem;
  --margin-footer: 3.5rem;
  --default-font-size: 1.1rem;
  --input-font-size: 1.3rem;
  --input-background-color: #dddddd;
  --navi-footer-background-color: #3e687d;
  --default-color: white;
  text-align: center;
  background: var(--default-background);
  width: 100%;
  overflow-x: hidden;
  color: var(--default-color);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.default {
  font-size: var(--default-font-size);
  margin-top: var(--margin-navi);
  margin-bottom: var(--margin-footer);
  padding-top: 1rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.footer {
  position: fixed;
  overflow: hidden;
  bottom: 0px;
  width: 100%;
  height: var(--margin-footer);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--navi-footer-background-color);
}

img {
  object-fit: contain;
}

input {
  border: 0;
  margin: 0.2rem;
  font-size: var(--input-font-size);
  background-color: var(--input-background-color);
}

.input-file {
  margin: 0.2rem;
  font-size: var(--default-font-size);
  background-color: var(--default-background);
}

textarea {
  font-size: var(--input-font-size);
  background-color: var(--input-background-color);
}

button {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.small-button {
  width: 8rem;
  height: 2.4rem;
  margin: 8px;
  border: 2px solid white;
  padding: 0.2em;
  font-size: 1.1em;
  border-radius: 5px;
  background: #2a4f88;
  color: var(--default-color);
}

.small-button-confirm {
  width: 8rem;
  height: 2.4rem;
  margin: 8px;
  border: 2px solid white;
  padding: 0.2em;
  font-size: 1.1em;
  border-radius: 5px;
  background: #fa4545;
  color: var(--default-color);
}

.small-button-cancel {
  width: 8rem;
  height: 2.4rem;
  margin: 8px;
  border: 2px solid white;
  padding: 0.2em;
  font-size: 1.1em;
  border-radius: 5px;
  background: #686868;
  color: var(--default-color);
}

.tiny-button {
  width: 3rem;
  height: 2.4rem;
  border: 0;
  margin: 2px;
  padding: 0.1em;
  font-size: 0.9em;
  border-radius: 4px;
  color: white;
  background-color: darkseagreen;
}

button:active {
  box-shadow: 0 2px #333333;
  transform: translateY(2px);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center {
  width: 70vw;
  height: 70vh;
  position: absolute;
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  outline: none;
}

.center-img {
  width: 100vw;
  height: 100vh;
  position: absolute;
  outline: none;
}

.content {
  width: 85%;
  height: 85%;
  content: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #475479;
}

.popup {
  width: 24rem;
  padding: 1rem;
  border: 2px solid #b9d3da;
  background-color: rgb(217, 235, 247);
  margin-left: auto;
  margin-right: auto;
}

a:link {
  text-decoration: none;
  color: var(--default-color);
}

a:visited {
  text-decoration: none;
  color: var(--default-color);
}

a:hover {
  text-decoration: underline;
  color: var(--default-color);
}

a:active {
  text-decoration: underline;
  color: var(--default-color);
}

/*** Home page ***/
#place {
  text-align: left;
}

#memo {
  text-align: left;
}

#memo-input {
  width: 100%;
  margin-top: 5px;
}

#img-temp {
  margin: 5px;
  width: 25%;
}

.latlon {
  font-size: 0.9rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

/*** LoginPage ***/
#login {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

/*** AlbumPage ***/

table {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.2rem;
}

table th {
  text-align: center;
  padding: 3px;
  background-color: rgb(29, 92, 100);
}

table td {
  text-align: left;
  padding: 3px;
  background-color: rgb(215, 224, 228);
  color: #333333;
}

.card {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  padding: 0.3rem;
  background: beige;
  color: #333333;
  align-items: center;
  box-shadow: 2px 2px rgba(104, 119, 97, 0.4);
}

.card-checkbox {
  width: 5vw;
}

.card-img {
  width: 15vw;
  object-fit: contain;
}

.card-text {
  margin-left: 0.5rem;
  width: 60vw;
  text-align: left;
}

.card-map {
  width: 20vw;
}

/*** navi ***/
#navi {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: var(--margin-navi);
  color: var(--default-color);
  background-color: var(--navi-footer-background-color);
  align-items: center;
}

#navi-left {
  width: 33%;
  text-align: left;
  font-size: 2.3rem;
  padding-left: 0.8rem;
  padding-top: 0.45rem;
}

#navi-center {
  width: 34%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}

#navi-right {
  width: 33%;
  text-align: right;
  font-size: 1rem;
  padding-right: 0.8rem;
}

/*** navi menu ***/
#menu {
  position: fixed;
  margin-top: var(--margin-navi);
  /* display: none; */
  width: 35%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  background: var(--navi-footer-background-color);
  display: flex;
  flex-direction: column;
  box-shadow: 3px 0px rgba(104, 119, 97, 0.4);
}

.menu-text {
  padding-top: 1.3rem;
  padding-left: 0.8rem;
  text-align: left;
  font-size: 1.5rem;
}